<table bgcolor="#fff" cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="margin:20px auto;padding:0px;font-family: 'Helvetica Neue', arial, sans-serif;color:#4a4a4a;font-size:14px;" >
  <tr>
      <td bgcolor="#f5f5f5" style="padding:6px 0 12px 0;background-color:#f5f5f5" align="center">
        <table cellspacing="0" cellpadding="0" border="0" width="95%" >
          <tr>
              <td><a href="#"><img src="/assets/academy/images/entheos_logo_footer_2x.png" border="none" width="98" /></a></td>
          </tr>  
        </table> 
          
      </td>
  </tr>
  <tr>
    <td align="center">
        <table cellspacing="0" cellpadding="0" border="0" width="95%" align="center">
          <tr>
              <td>
                  <h1 style="margin:30px 0 20px 0;padding:0px;text-align:center;font-size:30px; font-weight:bold;">Congratulations!</h1>
              </td>
          </tr>
          <tr>
              <td>
                  <p style="margin:0px 0 20px 0;padding:0px;">Hi there!</p> 
                  <p style="margin:0px 0 20px 0;padding:0px;">Your scholarship has been granted!</p>
                  <p style="margin:0px 0 20px 0;padding:0px;">You now have access to the following products:</p>
                  <p style="margin:0px 0 20px 0;padding:0px;font-weight:bold;">PhilosophersNotes - Volume I (Digital)</p>
                  <p style="margin:0px 0 20px 0;padding:0px;">To log in simply visit the following url and enter the email and password given below:</p> 
                  <p style="margin:0px 0 20px 0;padding:0px;">
                    <strong>Login page:</strong> <a href="http://local.entheos.com/library" style="color:#407bcf;text-decoration:none;" target="_blank">http://local.entheos.com/library</a><br/> 
                    <strong>Email:</strong> <a href="mailto:joshuaw@mailinator.com" style="color:#4a4a4a;text-decoration:none;">joshuaw@mailinator.com</a> <br/>
                    <strong>Password:</strong> en*theos 
                 </p>   
                 <p style="margin:0px 0 10px 0;padding:0px;">We hope you love it. And, if you do, we'd very much appreciate your support in helping us spread the word!</p> 
                 <p style="margin:0px 0 20px 0;padding:0px;">Here's to optimizing our lives so we can change the world together,</p>
                 <p style="margin:0px 0 5px 0;padding:0px;"><img src="/assets/academy/images/brian-sign.jpg" border="none" /></p>
                 <h5 style="margin:0px 0 5px 0;padding:0px; font-size:17px;">Brian Johnson</h5>
                 <p style="margin:0px 0 5px 0;padding:0px;">Philosopher + CEO</p>
              </td>
          </tr>  
        </table>  
    </td>
  </tr>
  <tr>
      <td height="50"></td>
  </tr>
  <tr>
      <td>
          <img src="/assets/academy/images/desk_books_2x.png" border="none" width="100%"/>
      </td>
  </tr>
  <tr>
      <td height="25"></td>
  </tr>
  <tr>
       <td align="center">
        <table cellspacing="0" cellpadding="0" border="0" width="95%" align="center">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="color:#8c8c8c;font-size:13px;line-height:normal;">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="#"><img src="/assets/academy/images/entheos_logo_footer_2x.png" border="none" width="170" /></a>
                                <p style="margin:15px 0;padding:0px;">
                                  Our purpose is to help you optimize your life so we can change the world together.
                                </p>
                                <h5 style="margin:0 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                                    Company <img src="/assets/academy/images/f-right-arrow.jpg" border="none"/>
                                </h5>
                                <table>
                                  <tr>
                                      <td width="90"><a href="#" style="color:#8c8c8c;text-decoration:none;">About</a></td>
                                      <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Affiliate Program</a></td>
                                  </tr>
                                  <tr>
                                      <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Contact Us</a></td>
                                      <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Privacy Policy</a></td>
                                  </tr>
                                  <tr>
                                      <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Support</a></td>
                                      <td><a href="#" style="color:#8c8c8c;text-decoration:none;">Terms & Conditions</a></td>
                                  </tr>
                                </table>
                            </td>
                            <td width="33%" align="center" style="text-align:center;" valign="top">
                                <h5 style="margin:15px 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                                    Share the Wisdom <img src="/assets/academy/images/f-right-arrow.jpg" border="none"/>
                                </h5>
                                <p style="margin:5px 0 20px 0;padding:0px;">
                                    <a href="#"><img src="/assets/academy/images/twittericon.jpg" border="none" /></a>
                                </p> 
                                 <p style="margin:0px 0 20px 0;padding:0px;">
                                    <a href="#"><img src="/assets/academy/images/fb-icon.jpg" border="none" /></a>
                                </p>    
                            </td>
                            <td width="33%" valign="top">
                                <h5 style="margin:15px 0 10px 0;padding:0px;font-size:16px;font-weight:normal;color:#4a4949;">
                                    More Goodness <img src="/assets/academy/images/f-right-arrow.jpg" border="none"/>
                                </h5> 
                                <table border="0" width="100%">
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">The Academy for Optimal Living</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">Virtual Conferences</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">PhilosophersNotes</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">Optimal Living 101</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">The Academy for Optimal Living</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">Rock Your Goddess Life</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">Blissitations</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">Quotes</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <a href="#" style="color:#8c8c8c;text-decoration:none;">Big Ideas</a>
                                      </td>
                                  </tr>
                                </table>
                            </td>
                        </tr>
                    </table>  
                </td>
            </tr>
            <tr>
                <td height="45"></td>
            </tr>
            <tr>
                <td bgcolor="#f5f5f5" style="background-color:#f5f5f5;border:1px solid #e0e0e0;padding:30px 20px;line-height:22px;text-align:center;color:#6e6e6e;font-size:13px;">
                  en + theos. Two little Greek words. Put ‘em together and you’ve got enthusiasm—or “God within”—the secret sauce to authentic awesomeness.
                </td>
            </tr>
            <tr>
                <td height="70"></td>
            </tr>
            <tr>
                <td style="font-size:12px; text-align:center;">
                   <p style="margin:0px 0 20px 0;padding:0px;">
                    You’re receiving this email because you signed up for the {<a href="#" style="color:#407bcf;text-decoration;">insert reason</a>}.If this email looks weird, <a href="#" style="color:#407bcf;text-decoration;">view it in your browser</a>. If you don’t want to receive this newsletter anymore,you can <a href="#" style="color:#407bcf;text-decoration;">unsubscribe</a>. (If you like it, share with a friend! :)
                   </p>
                   <p style="margin:0;padding:0px;">
                    @copy; 2009-2013 en*theos Enterprises, LLC | P.O. Box 33582 San Diego, CA 92163 
                   </p> 
                </td>
            </tr>
        </table>  
      </td>
  </tr>  
  <tr><td><%=link_to "send mail", welcome_index_path, method: "post" %></td></tr>
</table>  