@media only screen and (max-width: 321px) {
	.main-container{
		width: 100%;
		border: 0;
	}
	.academy-img-cell{
		display: none;
	}

	.container, .content{
		max-width: 100%;
	}

	.centered-cell{
		text-align: center;
	}

	.calendar-cell{
		display: none;
	}

	.class-info-cell{
		padding: 0;
	}

	a.btn{
		display: inline-block;
		padding: 10px 50px;
	}

	.btn-holder{
		text-align: center;
	}

	.teacher-info-cell{
		display: block;
    text-align: center;
  	}

  .teacher-info-cell p{
  	text-align: left;
  }

  #teacher-pic{
  	display: inline-block;
  }

  #teacher-bio{
  	padding-left: 0;
  }

  .footer-img-holder, .about-header-cell, .about-table-cell{
  	display: block;
  }

  .about-company-table{
  	display: none;
  }
}